.AntCheckbox__container {
  align-items: center;
}

.AntCheckbox__container .yy-checkbox-indeterminate .yy-checkbox-inner::after {
  border-radius: 2px;
}

.AntCheckbox__readOnly {
  pointer-events: none;
}
